@charset "UTF-8";
/* UTF-8 설정 */

/* 기본 값 설정 ==============================================================*/

*{

    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

ul{

    list-style: none;

}


h3{

    font-size : 16px;

}



/*  모양 관련 ==============================================================*/


/* 삼각형 */
.triangle{
    
    clip-path: polygon(50% 0%,0% 100%, 100% 100%);
    
}


/* border-radius 10px */
.border-radius{
    border-radius: 10px;
}


/* 정렬 관련 ==============================================================*/


/* flex 기반으로 세로로 정렬 */
/* 수직 방향 */

.flex-vertical-arrange{
    
    display: flex;
    flex-direction: column;
    
}



/* position relative */
.position-relative{
    
    position:relative;
}



/* position absolute */
.position-absolute{
    
    position:absolute;
}

/* 가운데 정렬 */
/* display flex justify-content center align-items center*/
.vertical-horizental-center{
    display: flex;
    justify-content: center;
    align-items: center;
}



.text-align-center{
    
    text-align: center;
    
}


/* 크기 관련 ==============================================================*/



/* 가로 지정 */

.width-1000px{
    
    width : 1000px;
    
}

/* 세로 지정 */

.height-1000px{
    
    height:1000px;
}

/* 가로 100% 세로 20% */
/* li에 사용 */
.width100per-height20per{
    
    width: 100%;
    height:20%;
    
}


/* full 사이즈 지정(가로 100%, 세로 100%) */
.full-size{
    
    width:100%;
    height:100%;
    
}


/* 패딩 10px */
.pad-10{
    padding:10px;
}





/* 색깔 관련 ==============================================================*/


/* 배경색 회색 */

.back-color-gray-bbb{
    
    background-color: #bbb;

}

/* 배경색 빨강 */
.back-color-red{
    
    background-color: red;
    
}

/* 배경색 주황 */
.back-color-orange{

    background-color: orange;

}

/* 배경색 노랑 */
.back-color-yellow{

    background-color: yellow;

}

/* 배경색 초록 */
.back-color-green{

    background-color: green;

}

/* 배경색 파랑 */
.back-color-blue{

    background-color: blue;

}




/* 이벤트 관련 ==================================================================== */

/* transition 0.3s 관련 */

.transition-0-3s{

    transition: 0.3s;

}


/* opacity 관련 */

/* 100% */

.opacity100{

    opacity: 100%;

}

/* 0% */

.opacity0{

    opacity: 0%;

}


/* on(display block) */
.on{

    display: block;

}

/* off(display none) */
.off {

    display: none;

}